In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv('D:\ML\concrete_data.csv')

In [3]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
X=df.iloc[:,0:-1]

In [5]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
y=df.iloc[:,-1]

In [7]:
y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [8]:
mean=np.mean(X,axis=0)
std=np.mean(X,axis=0)
X=(X-mean)/std
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,0.920561,-1.000000,-1.0,-0.107769,-0.597077,0.068948,-0.126141,-0.386800
1,0.920561,-1.000000,-1.0,-0.107769,-0.597077,0.084366,-0.126141,-0.386800
2,0.182568,0.928390,-1.0,0.255733,-1.000000,-0.042058,-0.232142,4.912995
3,0.182568,0.928390,-1.0,0.255733,-1.000000,-0.042058,-0.232142,6.993494
4,-0.293660,0.791712,-1.0,0.057459,-1.000000,0.005634,0.067116,6.883994

In [9]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [10]:
model=Sequential()

model.add(Dense(10,activation='relu',input_dim=X.shape[1]))
model.add(Dense(10,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')

In [11]:
mse=[]
for i in range(50):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
    model.fit(X_train,y_train,epochs=100,verbose=0,batch_size=1)
    y_pred=model.predict(X_test)
    mse.append(mean_squared_error(y_test,y_pred))

10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 779us/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 968us/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 883us/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 849us/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 573us/step
10/10 [==============================] - 0s 866us/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 123us/step
10/10 [==============================] - 0s 960us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step

In [12]:
mse

[99.5995781099405,
 49.05140488664433,
 47.58712136316316,
 44.11171221332209,
 33.56028792727305,
 40.56768981117487,
 36.23832718431868,
 29.57395707984092,
 24.93836831340008,
 34.011724189708154,
 27.174513591813522,
 25.486061308989395,
 21.845385260152007,
 27.37864704107265,
 29.383296210313716,
 25.020125286520518,
 21.792082634689542,
 27.164646832274723,
 26.68141446438108,
 22.769479676929716,
 21.98674296951006,
 18.840142436466753,
 21.319498474789736,
 21.543749252688674,
 30.52034932532259,
 17.46220194794482,
 24.694820310161248,
 21.670878637109542,
 20.66912557019064,
 20.132104175505564,
 21.15017499614037,
 16.88024245987074,
 18.791190797859834,
 16.60616004071892,
 16.631611526567223,
 18.276222100414742,
 17.54795291717014,
 15.488778204878818,
 17.3114494226075,
 14.550333402232221,
 16.9445432888307,
 16.914704770085343,
 15.245193247608306,
 18.74334308264434,
 16.055643520146525,
 16.22820577658078,
 16.6146467648271,
 15.141613825152929,
 16.193252869206965,
 17.773491226354636]

In [13]:
mean_mse=np.mean(mse)
print("Mean of Mean Square error list is ",mean_mse)

Mean of Mean Square error list is  25.037283814510214

In [14]:
std_mse=np.std(mse)
print("Standard Deviation of Mean Square error list is ",std_mse)

Standard Deviation of Mean Square error list is  13.547767596592546